div { width:100%; height:1000px; position:absolute; left:0; top:0; }
#background { background:url(../images/background.png) repeat-x 0 0; }
#midground { background:url(../images/midground.png) repeat-x 0 0; }
#foreground { background:url(../images/foreground.png) repeat-x 0 0; }
#ground { background:url(../images/ground.png) repeat-x 0 100%; }